In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_table('HG002.GRCh38.haplotagged_chr22.combined.bed', sep='\t', header=None, names=['chrom', 'start', 'end', 'mod_score_per', 'haplotype', 'cov', 'mod', 'unmod', 'avg mod', 'avg unmod'])
df.groupby(['chrom']).mean()['avg mod']

/tmp/ipykernel_35251/176255937.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['chrom']).mean()['avg mod']

chrom
chr22    0.841812
Name: avg mod, dtype: float64

In [4]:
df

,chrom,start,end,mod_score_per,haplotype,cov,mod,unmod,avg mod,avg unmod
0,chr22,10514367,10514368,20.0,Total,5,1,4,0.783,0.181
1,chr22,10514601,10514602,66.7,Total,6,4,2,0.886,0.026
2,chr22,10514791,10514792,0.0,Total,6,0,6,0.000,0.129
3,chr22,10514810,10514811,66.7,Total,6,4,2,0.922,0.021
4,chr22,10514849,10514850,83.3,Total,6,5,1,0.805,0.000
...,...,...,...,...,...,...,...,...,...,...
605707,chr22,50807835,50807836,60.3,Total,58,35,23,0.782,0.158
605708,chr22,50807861,50807862,21.9,Total,96,21,75,0.899,0.022
605709,chr22,50807867,50807868,0.0,Total,95,0,95,0.000,0.000
605710,chr22,50807870,50807871,16.7,Total,96,16,80,0.935,0.013
605711,chr22,50807873,50807874,21.3,Total,61,13,48,0.768,0.071